body {
    font-family: Arial, sans-serif;
    background-color: #dfe7db; /* pale light green */
}

form {
    margin-top: 20px;
}

h2 {
    font-size: 1.5em; /* enlarge the text */
    text-decoration: underline; /* underline the text */
    font-weight: bold; /* make the text bold */
}
