body {
    font-family: Arial, sans-serif;
    background-color: #dfe7db; /* pale light green */
}

form {
    margin-top: 20px;
}

h2 {
    font-size: 1.5em; /* enlarge the text */
    font-weight: bold; /* make the text bold */
    text-decoration: none; /* remove underline */
}

p {
    margin-bottom: 20px;
}

select {
    margin-left: 5px;      /* space between the label and the select dropdown */
    margin-right: 20px;    /* space between the select dropdown and the next label */
}

label {
    margin-right: 10px;
    display: inline-block; 
    margin-bottom: 30px; 
}

#submit-button-container {
    margin-top: 40px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #45a049;
}
